<p style="color: green"><%= notice %></p>

<% if @author %>
<h1>Posts from <%= @author.name %></h1>

<% else %>

<h1>Posts from all authors</h1>
<% end %>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
